@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('../fonts/SourceSansPro-SemiBold.woff2') format('woff2'),
    url('../fonts/SourceSansPro-Regular.woff') format('woff'),
    url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('../fonts/SourceSansPro-Regular.woff2') format('woff2'),
    url('../fonts/SourceSansPro-Regular.woff') format('woff'),
    url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
  min-height: 100vh;
  padding: 0 16px 0 32px;
  @media (max-width: 950px){
    padding: 0 16px;
  }
}
